


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.router-outlet+* {
    padding-top: 64px;
}

@media (max-width: 600px) {
    mat-toolbar {
        height: 56px;
    }

    .router-outlet+* {
        padding-top: 56px;
    }
}